// 簡介
.section-aboutus {
  padding: 0;
  height: 100vh;
  position: relative;
  color: $color-white;
  .video-container {
    width: 100%;
    height: 100%;
    position: absolute;
  }
  video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
  }
  .container {
    z-index: 10;
    position: relative;
    .txt {
      padding-top: 12rem;
      span {
        font-size: 7rem;
        letter-spacing: 1rem;
        display: inline-block;
        margin-bottom: 3rem;
      }
      h3 {
        // margin-bottom: 2rem;
      }
      @media (max-width: 576px) {
        span {
          font-size: 3rem;
          margin-bottom: 2rem;
        }
      }
    }
  }
}

// 願景
.section-purpose {
  background-color: $color-subprimary;
  color: $color-white;
  .purpose-line {
    margin-bottom: 10rem;
    @media (max-width: 991px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .purpose-circle {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      border: 1px solid $color-white;
      position: relative;

      span:nth-child(1) {
        font-size: 9rem;
        font-weight: 200;
      }
      span:nth-child(2) {
        position: absolute;
        bottom: 0;
        right: 0;
        color: $color-highlight;
        font-size: 6rem;
        line-height: 4rem;
      }
      .material-symbols-outlined {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
      }
    }
    h3 {
      color: $color-highlight;
      margin-bottom: 2rem;
    }
  }
}

// 捐款
.section-donation-intro {
  background-color: $color-white;
  .donation-intro {
    text-align: center;
    margin-bottom: 2rem;
  }
  .donation-card {
    padding: 2rem 1rem;
    box-shadow: 2px 2px 10px 0 (rgba(153, 153, 153, 0.5));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    box-sizing: border-box;
  }
  h3 {
    text-align: center;
    margin-bottom: 1rem;
  }
  .donation-line {
    display: flex;
    align-items: center;
    p:nth-child(1) {
      color: $color-highlight;
    }
  }
  .group {
    .material-symbols-outlined {
      margin: 0 2rem;
      font-size: 3.5rem;
      color: $color-highlight;
    }
    @media (max-width: 767px) {
      .tp {
        margin-top: 1.5rem;
      }
      .top {
        margin-top: 3rem;
      }
    }
  }
  @media (max-width: 767px) {
    .group .donation-card.top.up{
      margin-top: 4rem;
    }
  }
  @media (max-width: 991px) {
    .group .donation-card.tp{
      margin-top: 1.5rem;
    }
    .group .donation-card.top.up{
      margin-top: 3rem;
    }
  }
  button{
    margin-top: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
// 成員介紹
.section-team {
  background-color: $color-subprimary;
  color: $color-white;
  .row {
    text-align: center;
    img {
      margin-bottom: 2rem;
    }
  }
  h4,
  h3,
  p {
    margin-bottom: 1rem;
  }
  @media (max-width: 576px) {
    p {
      padding: 0 1rem;
    }
  }
}
// 聯絡我們
.section-contact {
  .contact-content {
    padding: 0 10%;
  }
  h3 {
    margin-bottom: 4rem;
  }
  .contact-line {
    box-shadow: 2px 2px 10px 0 (rgba(153, 153, 153, 0.5));
    padding: 2rem;

    .contact-card {
      display: flex;
      align-items: center;
    }
    .material-symbols-outlined {
      border: 1px solid black;
      padding: 2rem;
      border-radius: 50%;
      margin-right: 1rem;
    }
  }
  .contact-line.tp {
    margin-top: 2rem;
  }
  .removep {
    padding-right: 0;
    @media screen and (max-width: 991px) {
      padding-left: 0;
      margin-top: 2rem;
    }
  }
  .map {
    box-shadow: 2px 2px 10px 0 (rgba(153, 153, 153, 0.5));
    height: 100%;
    margin-bottom: 20px;
  }
  form {
    padding: 2rem;
    font-size: 1.6rem;
    line-height: 2.8rem;
    box-shadow: 2px 2px 10px 0 (rgba(153, 153, 153, 0.5));
    margin-top: 20px;
    .form-item {
      margin-bottom: 1rem;
      border: 1px solid #000;
      padding: 10px 10px;
      display: flex;
      align-items: center;
    }
    label {
      margin-right: 1rem;
      padding-right: 1rem;
      border-right: 1px solid #000;
    }
    input {
      border: none;
      outline: none;
      font-size: 1.6rem;
      line-height: 2.8rem;
      flex-grow: 2;
    }
    textarea {
      width: 100%;
      padding: 1rem;
      outline: none;
      box-sizing: border-box;
      resize: none;
    }
    button {
      margin: 2rem auto;
      display: block;
    }
    .auth-line {
      display: flex;
      align-items: center;
      justify-content: center;
      button {
        margin: 0;
      }
      .form-auth {
        .auth-input {
          display: inline-block;
        }
      }
      .auth-out{
        border: 1px solid black;
        padding: 10px 10px;
        display: flex;
        align-items: center;
      }
    }
  }
}

