// 遊戲進入頁面

.section-beachgame {
    // box-sizing: border-box;
    width: 100%;
    height: 100vh;
    padding: 0;
    background: url(../public/img/beachgame/beachgame-background.png);
    background-size: cover;
    background-position: 50% 50%;
    z-index: 99999;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .left-game {
        position: absolute;
        left: 30px;
        top: 30px;
        width: 40px;
        height: 40px;
        background-color: $color-highlight;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        .fa-house{
            font-size: 2rem;
            color: #fff;
        }
    }
    .show-window-outside{
        width: 70%;
        text-align: center;
        .beachgame-text {
            // display: none;
            border: 2px solid #333;
            border-radius: 20px;
            width:100%;
            box-sizing: border-box;
            padding: 5% 5vw;
            background-color: rgba(255, 255, 255, 0.5);
            .beachgame-title {
                font-size: 4vw;
                font-weight: 600;
                letter-spacing: 2vw;
                line-height: 6rem;
            }
        }
        .rules-lightbox {
            // display: none;
            width: 100%;
            box-shadow: 0px 4px 20px 0 rgba(0, 0, 0, .15);
            background-color: $color-subprimary;
            border-radius: 20px;
            box-sizing: border-box;
            padding: 20px;
            .rules-content {
                background-color: $color-white;
                border-radius: 20px;
                // box-sizing: border-box;
                padding: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                ol {
                    padding: 20px;
                    list-style-type: decimal;
                    text-align: start;
                }
            }
        }
        .character-lightbox {
            color: #fff;
            box-shadow: 0px 4px 20px 0 rgba(0, 0, 0, .15);
            border-radius: 20px;
            text-align: center;
            background-color: $color-subprimary;
            padding: 50px 20px;
            .character-list {
                margin: 30px 0;
                .character-item {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    background-color: #fff;
                    border-radius: 20px;
                    margin: 0 10px;
                    .character-pic img {
                        width: 80%;
                        vertical-align: top;
                    }
                    .character-name h3 {
                        color: #333;
                        margin-bottom: 10px;
                    }
                }
            }
        }
        .character-check-lightbox {
            color: #fff;
            box-shadow: 0px 4px 20px 0 rgba(0, 0, 0, .15);
            border-radius: 20px;
            text-align: center;
            background-color: $color-subprimary;
            padding: 50px 20px;
            .character-oneset {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .character-oneset-pic {
                    width: 150px;
                    height: 150px;
                    background-color: #fff;
                    border-radius: 50%;
                    overflow: hidden;
                    margin: 20px 0 10px 0;
                    img {
                        width: 100%;
                        vertical-align: top;
                    }
                }
                .character-name {
                    margin-bottom: 30px;
                }
            }
        }
        // 選擇工具
        .trash-lightbox {
            color: #fff;
            box-shadow: 0px 4px 20px 0 rgba(0, 0, 0, .15);
            border-radius: 20px;
            text-align: center;
            background-color: $color-subprimary;
            padding: 50px 20px;
            .trash-pic {
                width: 150px;
                height: 150px;
                margin: 0 auto;
                background-color: #fff;
                border-radius: 50%;
                position: relative;
                overflow: hidden;
                img {
                    text-align: center;
                    width: 120px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            .trash-text p {
                margin: 20px 0;
            }
        }
        // 選取工具滑入頁面
        .slide-page {
            color: #fff;
            box-shadow: 0px 4px 20px 0 rgba(0, 0, 0, .15);
            border-radius: 20px;
            text-align: center;
            background-color: $color-primary;
            padding: 20px;
            .tool-list {
                color: #fff;
                margin: 30px;
                .tool-item {
                    .tool-pic {
                        background-color: #fff;
                        border-radius: 50%;
                        margin: 20px;
                        overflow: hidden;
                        img {
                            width: 100%;
                            vertical-align: top;
                        }
                    }
                }
            }
        }
        // 撿取成功
        .success-lightbox {
            color: #fff;
            box-shadow: 0px 4px 20px 0 rgba(0, 0, 0, .15);
            border-radius: 20px;
            text-align: center;
            background-color: $color-subprimary;
            padding: 50px 20px;
            .success-content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .success-pic {
                    width: 150px;
                    height: 150px;
                    background-color: #fff;
                    border-radius: 50%;
                    overflow: hidden;
                    margin: 20px 0 10px 0;
                    img {
                        width: 100%;
                        vertical-align: top;
                    }
                }
                .success-text {
                    padding: 10px 0 20px 0;
                }
            }
        }
        .fail-lightbox {
            color: #fff;
            box-shadow: 0px 4px 20px 0 rgba(0, 0, 0, .15);
            border-radius: 20px;
            text-align: center;
            background-color: $color-subprimary;
            padding: 50px 20px;
            .fail-content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .fail-pic {
                    width: 150px;
                    height: 150px;
                    background-color: #fff;
                    border-radius: 50%;
                    overflow: hidden;
                    margin: 20px 0 10px 0;
                    img {
                        width: 100%;
                        vertical-align: top;
                    }
                }
                .fail-text {
                    padding: 10px 0 20px 0;
                }
            }
        }
        .finish-lightbox {
            color: #fff;
            box-shadow: 0px 4px 20px 0 rgba(0, 0, 0, .15);
            border-radius: 20px;
            text-align: center;
            background-color: $color-subprimary;
            padding: 50px 20px;
            .finish-content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .finish-pic {
                    position:relative;
                    width: 150px;
                    height: 150px;
                    background-color: #fff;
                    border-radius: 50%;
                    overflow: hidden;
                    margin: 20px 0 10px 0;
                    img {
                        position:absolute;
                        left:50%;
                        top:50%;
                        transform: translate(-50%,-45%);
                        width: 80%;
                    }
                }
                .finish-text {
                    padding: 10px 0 20px 0;
                }
            }
            .beachgame-button-wrap{
                button {
                    margin: 0 10px;
                    a {
                        text-decoration: none;
                        color:$color-white;
                    }
                } 
            }
        }
    }
}
