//section-event-title
.section-event-title {
    background: url('../../../../public/img/event/event_title.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 80vh;
    aspect-ratio: 16/9;

    .title-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
    }

    .title {
        color: #fff;
        display: flex;
        flex-direction: column;
    }

    span {
        font-size: 3rem;
    }

    h1 {
        font-size: 6rem;
    }
}

//section-event-banner
.section-event-banner {
    background-color: $color-primary;
    text-align: center;

    .sloagn {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 10px 0;
        color: #fff;
        @media screen and (max-width:768px){
            flex-wrap: wrap;
            gap: 30px 0;
            h2 {
                flex: 100%;
            }
        }
    }
}

//section-event-date
.section-event-date {
    background-color: #fff;
    text-align: center;

    .fc-event-selected::after, .fc-event:focus::after {
        background: unset;
    }

    .fc-event-selected, .fc-event:focus {
        box-shadow: unset;
    }
    .calendar {
        width: clamp(600px, auto, 1200px);
        margin: 40px auto;
    }
    .fc-day {
        border: 1px solid $color-subprimary;
        i {
            transition: .3s;
        }
        &:hover i {
            color: $color-subprimary
        }
    }
    .fc .fc-daygrid-day.fc-day-today {
        background-color: #005FA140;
    }
    .fc-event-main {
        text-align: center;
    }
    .area-list {
        overflow-y: auto;
        height: 475px;

        .show-list {
            height: 100%;
            display: grid;
            grid-template-rows: 20%;
            ul {
                width: 100%;
                li {
                    width: 100%;
                    display: grid;
                    grid-template-columns: 50% 20% 30%;
                    align-items: center;
                }
            }
            span {
                color: #fff;
                padding: 0px 10px;
                border-radius: 5px;
                display: block;
                margin: auto;
                line-height: 1.6;
            }
            span.end, span.deadline {
                background-color: grey;
            }
            span.fullsign {
                background-color: black;
            }
            span.ongoing {
                background-color: #e60000;
            }
            button {
                border-radius: 5px;
                padding: 3px 0px;
                width: 60%;
                margin: auto;
                display: block;
            }
            }
            .show-intro{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
            }
            .intro {
                font-size: 2.4rem;
                letter-spacing: .3rem;
                line-height: 1.5;
            }

        @media screen and (max-width: 992px) {
            margin-top: 20px;
        }

        .area {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            h3 {
                color: #fff;
                padding: 5px 10px;
                background-color: $color-subprimary;
                border-radius: 5PX;
                margin-right: 10px;
            }

            p {
                letter-spacing: .5rem;
            }

            .activities {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                align-items: start;
            }
        }
    }

    //卷軸寬度
    .area-list::-webkit-scrollbar {
        width: 10px;
    }

    //軌道背景色
    .area-list::-webkit-scrollbar-track {
        background: #005FA1;
        border-radius: 25px;
    }

    //卷軸滑塊、圓角
    .area-list::-webkit-scrollbar-thumb {
        background: #E7A600;
        border-radius: 25px;
    }
}

//section-event-list
.section-event-list {
    text-align: center;
    background-color: #fff;

    .menu select {
        width: 50%;
        border-radius: 0;
        margin-bottom: 30px;
        padding: 5px 10px;
        text-align: center;
        font-family: $font-family-base;
        padding: 10px 0;
    }

    .row {
        gap: 30px 0;
    }
}

//section-event-share
.section-event-share {
    position: relative;
    text-align: center;
    .row {
        gap: 30px 0;
    }
}

//頁碼(共用)
.pagenumber {
    margin: 30px 0;

    a {
        display: inline-block;
        border: 1px solid #000;
        padding: 7px 14px;
        margin: 10px;
    }
}

//section-event-agree
.section-event-agree {
    text-align: center;
    background: url(../../../../public/img/event/event_02.png);
    background-repeat: no-repeat;
    background-size: cover;

    .container {
        h2 {
            text-align: center;
        }
        ul {
            text-align: left;
        }

    }
}

//section-light-box
.light-box-bgc {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #29292936;
    position: fixed;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
}
.light-box {
    background-color: #fff;
    padding: 20px;
    box-shadow: 1px 1px 10px 1px #00000040;
    border-radius: 10px;
    .row{
        position: relative;
        padding: 10px;
    .pic {
        flex: 50%;
        vertical-align: top;
            img {
                width: 100%;
                border-radius: 5px;
            }
            .text{
                margin-top: 10px;
                h3{
                    margin-bottom: 10px;
                }
            }
            
    }
    .content{
        flex: 50%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        i{
            display: inline-block;
            color: #b6b6b6;
            font-size: 3rem;
            cursor: pointer;
            position: absolute;
            top: 0;
            right: 2%;
        }
        .activity-area {
            .text {
                h3,
                span {
                    margin-bottom: 10px;
                }
    
                span {
                    display: block;
                    font-size: 1.6rem;
                    letter-spacing: 0.08em;
                    line-height: 1.3;
                    font-weight: normal;
                    @media screen  and (max-width:992px){
                        font-size: 1.4rem;
                        letter-spacing: 0.06em;
                        line-height: 1.6;
                    }
                    @media screen  and (max-width:768px){
                        font-size: 1.2rem;
                        letter-spacing: 0.04em;
                        line-height: 1.4;
                    }
                    @media screen  and (max-width:576px){
                        font-size: 1rem;
                        letter-spacing: 0.02em;
                        line-height: 1.2;
                    }
                }
    
                .join {
                    select{
                        font-size: 1.5rem;
                    }
                    span {
                        display: inline-block;
                    }
                }
            }
        }
        .state {
            margin-top: 10%;
            width: 100%;
            @media screen  and (max-width:992px){
                width:25rem;
                margin-top: 8%;
            }
            @media screen  and (max-width:768px){
                width:20rem;
                margin-top: 6%;
            }
            @media screen  and (max-width:576px){
                width:15rem;
                margin-top: 4%;
            }
            button{
                width: 100%;
            }
            .stop,
            .full,
            .end {
                display: none;
            }
        }
    }
    }
}

////section-confirm
.section-confirm {
    position: relative;

    .apply-wrap {
        .close {
            position: absolute;
            top: 0;
            right: 2%;
            i {
                color: #b6b6b6;
                font-size: 3rem;
                cursor: pointer;
            }
        }

        .text {
            margin-left: 10%;

            h3,
            p {
                margin: 20px 0;
            }
        }
    }



    .sent-btn {
        text-align: center;

        .sent {
            width: 80%;
        }
    }
}

//section-upload
.section-upload {
    .upload {
        display: flex;
        align-items: center;
        position: relative;

        h2 {
            flex: 95%;
            text-align: center;
            padding-left: 5%;
        }

        .close {
            flex: 5%;
            text-align: right;
            position: absolute;
            top: 0;
            right: 2%;

            i {
                color: #b6b6b6;
                font-size: 3rem;
                cursor: pointer;
            }
        }
    }

    form {
        margin: auto;
        width: 50%;
        margin-bottom: 30px;

        .box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 30px;
            width: 100%;

            label {
                flex-basis: 40%;
                font-size: 1.5rem;
                letter-spacing: .2em;
                text-align: right;
            }

            select,
            input[type='date'],
            span,
            input[type='file'],
            textarea,
            .Experience {
                flex-grow: 1;
                margin-left: 5%;
            }

            .Experience textarea {
                width: 100%;
            }

            span {
                display: block;
                font-size: 1.5rem;
            }

            .Experience span,
            textarea {
                margin-left: 0;
            }
        }
        // .box-5{
        //     input[type="file"]{
        //         display: none;
        //     }
        // }
        .box-6 {
            align-items: start;
        }
    }

    .shareBtn {
        width: 100%;
        text-align: center;
    }
}

//section-examine
.section-examine {
    .CancelBtn {
        text-align: right;
        margin: 10px 0;

        span {
            font-size: 2rem;
            color: #b6b6b6;
            display: inline-block;
            cursor: pointer;
        }
    }

    h2 {
        text-align: center;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;

        .box {
            width: 50%;
            padding: 20px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.5rem;
            border-bottom: 1px solid #b6b6b6;

            label {
                flex: 80%;
            }
        }

        input[type="radio"] {
            appearance: none;
            width: 20px;
            height: 20px;
            border: 1px solid #000;

            &:checked {
                background: url(../../../../public/img/event/check-solid.svg);
                background-repeat: no-repeat;
                background-position: center;
            }
        }

        button {
            width: 35%;
            margin: 30px 0;
        }
    }
}

//section-detailed
.section-detailed {
    .text {
        .theme {
            .report {
                font-size: 2rem;
                top: 3%;

                span {
                    display: inline-block;

                    i {
                        display: inline-block;
                        margin-right: 5px;
                    }
                }
            }
        }

        span {
            font-size: 1.5rem;
            display: block;
            margin: 10px 0;
            line-height: 1.2;
        }
    }
    .overlay{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0); //透明背景
        z-index: 199;   //保證遮罩層在彈窗之下 
    }
}