//section-event-title
.section-event-title {
    background: url('/public/img/event/event_title.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 80vh;
    aspect-ratio: 16/9;

    .title-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
    }

    .title {
        color: #fff;
        display: flex;
        flex-direction: column;
    }

    span {
        font-size: 3rem;
    }

    h1 {
        font-size: 6rem;
    }
}

//section-event-banner
.section-event-banner {
    background-color: $color-primary;
    text-align: center;

    .sloagn {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 10px 0;
        color: #fff;

        @media screen and (max-width:768px) {
            flex-wrap: wrap;
            gap: 30px 0;

            h2 {
                flex: 100%;
            }
        }
    }
}

//section-event-date
.section-event-date {
    background-color: #fff;
    text-align: center;

    .fc-event-selected::after, .fc-event:focus::after {
        background: unset;
    }

    .fc-event-selected, .fc-event:focus {
        box-shadow: unset;
    }
    .calendar {
        width: clamp(600px, auto, 1200px);
        margin: 40px auto;
    }
    .fc-day {
        border: 1px solid $color-subprimary;
        i {
            transition: .3s;
        }
        &:hover i {
            color: $color-subprimary
        }
    }
    .fc .fc-daygrid-day.fc-day-today {
        background-color: #005FA140;
    }

    .fc-event-main {
        text-align: center;
    }

    .area-list {
        overflow-y: auto;
        height: 475px;

        .show-list {
            height: 100%;
            display: grid;
            grid-template-rows: 20%;
            ul {
                width: 100%;
                li {
                    width: 100%;
                    display: grid;
                    grid-template-columns: 50% 20% 30%;
                    align-items: center;
                }
            }
            span {
                color: #fff;
                padding: 0px 10px;
                border-radius: 5px;
                display: block;
                margin: auto;
                line-height: 1.6;
            }
            span.end, span.deadline {
                background-color: grey;
            }
            span.fullsign {
                background-color: black;
            }
            span.ongoing {
                background-color: #e60000;
            }
            button {
                border-radius: 5px;
                padding: 3px 0px;
                width: 60%;
                margin: auto;
                display: block;
            }
            }
            .show-intro{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
            }
            .intro {
                font-size: 2.4rem;
                letter-spacing: .3rem;
                line-height: 1.5;
            }

        @media screen and (max-width: 992px) {
            margin-top: 20px;
        }

        .area {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            h3 {
                color: #fff;
                padding: 5px 10px;
                background-color: $color-subprimary;
                border-radius: 5PX;
                margin-right: 10px;
            }

            p {
                letter-spacing: .5rem;
            }

            .activities {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                align-items: start;
            }
        }
    }

    //卷軸寬度
    .area-list::-webkit-scrollbar {
        width: 10px;
    }

    //軌道背景色
    .area-list::-webkit-scrollbar-track {
        background: $color-primary;
        border-radius: 25px;
    }

    //卷軸滑塊、圓角
    .area-list::-webkit-scrollbar-thumb {
        background: $color-highlight;
        border-radius: 25px;
    }
}

//section-event-agree
.section-event-agree {
    text-align: center;
    background: url('/public/img/event/event_02.png');
    background-repeat: no-repeat;
    background-size: cover;

    .container {
        h2 {
            text-align: center;
        }

        ul {
            text-align: left;
        }

    }
    .return{
        margin-top: 20px;
    }
}

//section-light-box
.light-box-bgc {
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #29292936;
    position: fixed;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;

    .col-lg-6:first-child {
        .description {
            margin-top: 10px;

            h3,
            p {
                font-size: 1.5rem;
            }
        }
    }

    .col-lg-6:last-child {
        .content {
            .close {
                top: 2%;
                right: 2%;
            }

            .activity-area {
                .text {
                    margin: 0;
                    .join{
                        select{
                            border: 1px solid #000;
                            border-radius: 3px;
                        }
                    }
                }
            }
        }
    }
}


////event-confirm
.event-confirm {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    z-index: 21;
    box-shadow: 2px 2px 10px $color-border;
    background-color: #fff;
    padding-bottom: 20px;

    .apply-wrap {
        .close {
            position: absolute;
            top: 2%;
            right: 2%;

            i {
                color: $color-border;
                font-size: 2.5rem;
                cursor: pointer;
            }
        }

        .text {
            margin-left: 10%;

            h3,
            p {
                margin: 20px 0;
            }
        }
    }



    .sent-btn {
        text-align: center;

        .sent {
            width: 80%;
        }
    }
}

//section-upload
.section-upload {
    .upload {
        display: flex;
        align-items: center;
        position: relative;

        h2 {
            flex: 95%;
            text-align: center;
            padding-left: 5%;
        }

        .close {
            flex: 5%;
            text-align: right;
            position: absolute;
            top: 0;
            right: 2%;

            i {
                color: #b6b6b6;
                font-size: 3rem;
                cursor: pointer;
            }
        }
    }

    form {
        margin: auto;
        width: 50%;
        margin-bottom: 30px;

        .box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 30px;
            width: 100%;

            label {
                flex-basis: 40%;
                font-size: 1.5rem;
                letter-spacing: .2em;
                text-align: right;
            }

            select,
            input[type='date'],
            span,
            input[type='file'],
            textarea,
            .Experience {
                flex-grow: 1;
                margin-left: 5%;
            }

            .Experience textarea {
                width: 100%;
            }

            span {
                display: block;
                font-size: 1.5rem;
            }

            .Experience span,
            textarea {
                margin-left: 0;
            }
        }
    }

    .shareBtn {
        width: 100%;
        text-align: center;
    }
}

//section-examine
.section-examine {
    // display: none;
    width: 50%;
    margin: auto;
    position: fixed;
    z-index: 35;
    top:10%;
    left: 25%;
    .container {
        form {
            box-shadow: 2px 2px 10px $color-border;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            background-color: #fff;
            padding: 20px 0;
            .CancelBtn {
                position: absolute;
                top: 2%;
                right: 2%;
                span {
                    font-size: 2rem;
                    color: #000;
                    display: inline-block;
                    cursor: pointer;
                    &:hover{
                        color: $color-highlight;
                        transition: .3s ease;
                    }
                }
            }
    
            h2 {
                text-align: center;
                margin-top: 20px;
            }
            .box {
                width: 50%;
                padding: 10px 0;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.5rem;
                border-bottom: 1px solid #b6b6b6;

                label {
                    flex: 80%;
                }
            }

            input[type="radio"] {
                appearance: none;
                width: 20px;
                height: 20px;
                border: 1px solid #000;

                &:checked {
                    background: url('/public/img/event/check-solid.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
            .warning{
                color: #f00;
                font-size: 1.3rem;
                transform: translateY(10px);
            }

            button {
                width: 35%;
                margin-top: 20px;
            }
        }
    }
}