.section-foget {
    background-image: url(../../../../public/img/member/member9.png);
    background-size: cover;
}

.foget-txt {
    background-color: $color-white;
    margin: 5rem auto;
    text-align: center;
    h1{
        padding-top: 5rem;
    }
    button{
        padding-bottom: 5rem;
    }
}
.input-ch2 label, .input-ch3 label{
padding-left: 2rem;
}

.form-group {
    margin: 1rem 0;
}


.foget-txt input {
    padding: 1rem;
    font-size: 16px;
    border: 0rem;
    border-bottom: 0.2rem solid #000;
    box-sizing: border-box;
    background: none;
    outline: none;
    height: 4rem;
    max-width: 20rem;
}


.foget-txt label {
    margin-right: 2rem;
    font-size: 2rem;
    text-align: right;
    vertical-align:bottom
}

.input-ch1 label:first-of-type {
    margin-left: 4rem;
}

.foget-txt button {
    padding: 1rem 4rem;
    margin: 2rem auto;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
@media screen and (max-width: 768px) {

    .foget-txt label {
        font-size: 1.8rem;
    }
}
@media screen and (max-width: 576px) {
    .section-foget .container{
        --gap:0;
    }
    
    .section-foget {
        background-position: top ;
    }
    .foget-txt {
        margin: 4rem auto;
        height: 60rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: unset;
        h1{
            padding-top: 0;
        }
        button{
            margin: 7rem auto
        }

    }
    .input-ch1 input:first-of-type {
        margin-left: .5rem;
    }

    .foget-txt label {
        flex: 1;
        font-size: 1.4rem;
        padding-top: 2rem;
    }

    .input-ch1 label:first-of-type {
        margin-right: 1.5rem;
        margin-left: 3rem;
    }

    .foget-txt input {
        flex: 2;
    }
    .foget-txt input {
        max-width: 18rem;
    }
}

