// ------------------------------------banner
.section-knowledge-banner {
    height: 100vh;
    background: url(/img/knowledge/banner1.png)no-repeat 50% 50% / cover;
    color: #fff;

    .container {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;

        h1,
        h2,
        p {
            text-align: center;
            // line-height:;
        }

        p {
            margin-bottom: 130px;
        }
    }

}
// ------------------------------------什麼是海洋廢棄物
.section-bg {
    background-color: #ffffff;

    .trash-txt {
        h3 {
            line-height: 100px;
        }
    }

    .tr-pic {
        img{
            width: 100%;
        }
    }
}
// ------------------------------------全台灣沿海廢棄數據
.section-data {
    // background: #b7c6e5;
    padding: 100px 0;
    .container{
        .row{
            .bgTwMap{
                .datah2{
                }
                button{
                    margin-bottom: 10px;
                }
                .map-container{
                    // background-color: #DBE4EE ;
                    border-radius: 10px;
                }
                p{
                    text-align: end;
                    span{
                        color: red;
                    }
                    margin-bottom: 100px;
                }
            }
            .row{
                .box-chart{
                    margin-top: 90px;
                }
                .Charttxt{
                    padding-bottom: 30px;
                }
            }
            .indicatorsea{
                .myChartbg {
                    width: 100%;
                    height: 300px;
                }
            }
            .tableChart{
                background: #E7A600;
                border: 1px solid black;
                font-size: 12px;
                margin: auto;
                color: rgb(0, 30, 59);
                tr{
                    border: 1px solid black;
                    th{
                        border: 1px solid black;
                        padding: 5px;
                    }
                }
                td{
                    border: 1px solid black;
                    padding: 10px;
                }
            }
        }
    }
}

.news-filter select {
    background: #E7A600;
    color: #ffffff;
    margin-top: 10px;
    width: 150px;
    height: 3em;
    padding: 10px;
    border: none;
}
// ------------------------------------基隆垃圾處理方式
.trash-card {
    text-align: center;
}
// ------------------------------------海廢知識庫 
.section-knowledge {
    h2 {
        text-align: center;
        color: #fff;
    }
    background: url(/img/knowledge/banner3.jpg) no-repeat;
    background-size: cover;

h4 {
	font-size: 5vmin;
	// text-align: center;
	color: white;
}
p {
	font-size: max(10pt, 2.5vmin);
	line-height: 1.4;
	color: #4E97CA;
	margin-bottom: 0rem;
}

.wrap {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 45vmin;
	margin: 4rem auto;
	transition: 0.3s ease-in-out;
	position: relative;
	overflow: hidden;
    width: 100%;
    // height: 100%;
}
.overlay {
	position: relative;
	display: flex;
	width: 100%;
	padding: 1rem 0.75rem;
    background: rgba(214, 214, 214, 0.15);
    // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(7.8px);
    border: 1px solid rgba(255, 255, 255, 0.3);
	transition: 0.4s ease-in-out;
	z-index: 1;
}
.overlay-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 15vmin;
	transition: 0.3s ease-in-out 0.2s;
	z-index: 1;
}
.image-content {
    width: 100%;
	position: absolute;
	top: 0;
	right: 0;   
	background-image: url("/img/knowledge/2.png");
	background-size: cover;
	transition: 0.3s ease-in-out;
}

.inset {
	max-width: 100%;
	border-radius: 0.25em;
	float: left;
}

.text {
	position: absolute;
	top: 0;
	right: 0;
    height: 100%;
	// padding: 3vmin 4vmin;
	background: rgba(214, 214, 214, 0.15);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.8px);
    -webkit-backdrop-filter: blur(7.8px);
    border: 1px solid rgba(255, 255, 255, 0.3);
	box-shadow: inset 1px 1px 15px 0 rgba(0 0 0 / 0.4);
    img{
        width: 100%;
        height: 100%;
        vertical-align: top;
    }
}

.wrap:hover .overlay {
	transform: translateX(-60vmin);
}
.wrap:hover .image-content {
	width: 30vmin;
}
// .wrap:hover .overlay-content {
// 	transition-delay: 0.2s;
// 	transform: translateX(60vmin);
// }
.wrap:hover .dots {
	transform: translateX(1rem);
}
.wrap:hover .dots .dot {
	background: white;
}

/* Animations and timing delays */
// .animate {
// 	// animation-duration: 0.7s;
// 	animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
// 	// animation-fill-mode: backwards;
// }
// /* Pop In */
// .pop {
// 	anim。ation-name: pop;
// }
// @keyframes pop {
// 	0% {
// 		opacity: 0;
// 		transform: scale(0.5, 0.5);
// 	}
// 	100% {
// 		// opacity: 1;
// 		transform: scale(1, 1);
// 	}
// }

// /* Slide In */
// .slide {
// 	animation-name: slide;
// }
// @keyframes slide {
// 	0% {
// 		opacity: 0;
// 		transform: translate(4em, 0);
// 	}
// 	100% {
// 		opacity: 1;
// 		transform: translate(0, 0);
// 	}
// }

// /* Slide Left */
// .slide-left {
// 	animation-name: slide-left;
// }
// @keyframes slide-left {
// 	0% {
// 		opacity: 0;
// 		transform: translate(-40px, 0);
// 	}
// 	100% {
// 		opacity: 1;
// 		transform: translate(0, 0);
// 	}
// }

// .slide-up {
// 	animation-name: slide-up;
// }
// @keyframes slide-up {
// 	0% {
// 		opacity: 0;
// 		transform: translateY(3em);
// 	}
// 	100% {
// 		opacity: 1;
// 		transform: translateY(0);
// 	}
// }

.delay-1 {
	animation-delay: 0.3s;
}
.delay-2 {
	animation-delay: 0.6s;
}
.delay-3 {
	animation-delay: 0.9s;
}
.delay-4 {
	animation-delay: 1.2s;
}
.delay-5 {
	animation-delay: 1.5s;
}
.delay-6 {
	animation-delay: 1.8s;
}
.delay-7 {
	animation-delay: 2.1s;
}
.delay-8 {
	animation-delay: 2.4s;
}

}
// ------------------------------------遊戲 
.section-game {
    text-align: center;

    a {
        color: #000;
    }

    .card {
        margin: 40px;
        padding: 20px;
        text-align: center;
        box-shadow: 0 0 6.5px 3px #00000030;

        .card-content {
            display: flex;
            flex-direction: column;
            margin: auto;

            h3 {
                margin: 20px 0;
            }
        }

        img {
            width: 100%;
            vertical-align: top;
        }

        a {
            color: #fff;
            font-weight: 700;
            // text-decoration: none;
        }
    }
}

// --------------------------------------------  LIGHTBOX
.lightbox {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.lightbox-content {
    background: white;
    position: relative;
    width: 75%;
    height: 75%;
}

.lightbox img {
    width: 100%;
    height: 75%;
    object-fit: cover;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 5px 10px;
}

.image-caption {
    width: 100%;
    padding: auto;
    margin: auto;
}
// --------------------------------------------