// ------------------------------------banner
.section-knowledge-banner {
    height: 100vh;
    background: url(../public/img/knowledge/banner1.png)no-repeat 50% 50% / cover;
    color: #fff;

    .container {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;

        h1,
        h2,
        p {
            text-align: center;
            // line-height:;
        }

        p {
            margin-bottom: 130px;
        }
    }

}
// ------------------------------------什麼是海洋廢棄物
.section-bg {
    background-color: #ffffff;

    .trash-txt {
        h3 {
            line-height: 100px;
        }
    }

    .tr-pic {
        img{
            width: 100%;
        }
    }
}
// ------------------------------------全台灣沿海廢棄數據
.section-data {
    background-color: #fff;

    .button-area {
        margin-left: -3px;

        button {
            margin: 1px;
        }

    }
}

.news-filter select {
    background: #E7A600;
    color: #ffffff;
    margin-top: 10px;
    width: 150px;
    height: 3em;
    padding: 10px;
    border: none;
}
// ------------------------------------
section {
    background-color: #fff;

    .card-data {
        h3 {
            margin: 20px auto;
            text-align: center;
        }

        .span-flex {
            display: flex;
            justify-content: center;
            margin: 10px auto;

            span {
                display: flex;

                .red-box {
                    margin: auto 5px;
                    width: 35px;
                    height: 10px;
                    background: #D35656;
                }

                .blue-box {
                    margin: auto 5px;
                    width: 35px;
                    height: 10px;
                    background: #2F80DE;
                }
            }
        }
    }
}
// ------------------------------------垃圾種類
.section .flex {
    display: flex;

    .card-type {
        display: flex;
        align-self: flex-end;

        .p-type {
            margin: 10px;

            .color-box {
                display: flex;

                .blue-box {
                    width: 35px;
                    height: 10px;
                    background: #00ADF3;
                    margin: auto 5px;
                }

                .yellow-box {
                    width: 35px;
                    height: 10px;
                    background: #E7A600;
                    margin: auto 5px;
                }

                .red-box {
                    width: 35px;
                    height: 10px;
                    background: #D35656;
                    margin: auto 5px;
                }
            }
        }
    }
}
// ------------------------------------基隆垃圾處理方式
.trash-card {
    text-align: center;
}
// ------------------------------------海廢知識庫 
.section-knowledge {
    h2 {
        text-align: center;
    }


    .card-c {
        margin: 0 auto;
        cursor: pointer;


        .card{
            .pic-card{
                position: relative;
                overflow: hidden;
                // width: 100%;
                // height: 100%;
                img{
                    width: 100%;
                    vertical-align: top;
                    
                }

            }
            img:hover {
                transform: scale(1.10);
                transition: transform 0.3s;
            }
        }
    }
}
// ------------------------------------遊戲 
.section-game {
    text-align: center;

    a {
        color: #000;
    }

    .card {
        margin: 40px;
        padding: 20px;
        text-align: center;
        box-shadow: 0 0 6.5px 3px #00000030;

        .card-content {
            display: flex;
            flex-direction: column;
            margin: auto;

            h3 {
                margin: 20px 0;
            }
        }

        img {
            width: 100%;
            vertical-align: top;
        }

        a {
            color: #fff;
            font-weight: 700;
            // text-decoration: none;
        }
    }
}

// --------------------------------------------  LIGHTBOX
.lightbox {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.lightbox-content {
    background: white;
    position: relative;
    width: 75%;
    height: 75%;
}

.lightbox img {
    width: 100%;
    height: 75%;
    object-fit: cover;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 5px 10px;
}

.image-caption {
    width: 100%;
    height: 100%;
    margin: 10px;
}
// --------------------------------------------