.section-mallcart-cart{
    .container{
        padding-top: 60px;
    }
    .cart-wrap{
        padding-bottom: 10px;
        border-bottom: 1px solid black;
    }
    .cart-wrap .title{
        display: flex;
        padding: 7px 20px;
        background-color: #A8D1EE;
    }
    .cart-wrap .title h3{
        text-align: center;
        align-content: center;
    }
    .cart-wrap .title h3:nth-child(1){
        border-radius: 30px;
        width: 30px;
        height: 30px;
        border: 2px solid black;
        background-color: white;
        margin-right: 20px;
    }
    .cart-head{
        display: grid;
        grid-template-columns: 14% 36% 18% 18% 18%;
        padding: 10px 20px 0 20px;
    }
    .cart-info {
        display: grid;
        grid-template-columns: 10% 40% 15% 15% 18%;
        padding: 10px 20px;
        align-items: center;
        border-bottom: 1px solid black;
        .item{
            padding-left: 12px;
        }
    }
    .cart-info .content{
        display: flex;
        align-items: center;
        .img {
            width: 100%;
            overflow: hidden;
            aspect-ratio: 1/1;
            box-sizing: border-box; 
            img {
                width: 100%;
                vertical-align: top;
            }
        }
        .pic{
            margin:auto;
        }
    }
    .cart-info .amount {
        display: flex;
        align-items: center;
        span {
            font-size: 20px;
            padding: 0 20px;
            text-align: center;
        }
        button {
            padding: 3px 8px; 
            border: 1px solid black;
            background-color: #fff;
            color: black;
        }
    }
    .cart-info a{
        font-size: 20px;
    }
    .cart-info .subtotal{
        display: flex;
        justify-content: space-between;
        align-items: center;
        i {
            font-size: 2rem;
            margin-right: 20px;
        }
    }
    .cart-price{
        text-align: right;
        padding: 10px 40px 10px 0;
        border-bottom: 1px solid black;
    }
    .cart-total{
        text-align: right;
        padding: 10px 40px 10px 0;
    }
}

.section-mallcart-member{
    padding: 0;
    .cart-member .title{
        display: flex;
        padding: 7px 20px;
        background-color: #A8D1EE;
    }
    .cart-member .title h3{
        text-align: center;
        align-content: center;
    }
    .cart-member .title h3:nth-child(1){
        border-radius: 30px;
        width: 30px;
        height: 30px;
        border: 2px solid black;
        background-color: white;
        margin-right: 20px;
    }
    .cart-form{
        padding:20px;
    }
    .cart-form .name h4{
        padding-bottom: 24px;
    }
    .cart-form .name span{
        display: block;
        width: 100%;
        margin-right: 10px;
        box-sizing: border-box;
        font-size: 16px;
        border: 1px solid black;
        padding: 12px 10px;

    }
    .cart-form .phone h4{
        padding: 24px 0;
    }
    .cart-form .phone span{
        display: block;
        width: 100%;
        margin-right: 10px;
        box-sizing: border-box;
        font-size: 16px;
        padding: 12px 10px;
        border: 1px solid black;
    }
    .cart-form .email h4{
        padding: 24px 0;
    }
    .cart-form .email span{
        display: block;
        width: 100%;
        margin-right: 10px;
        box-sizing: border-box;
        font-size: 16px;
        border: 1px solid black;
        padding: 12px 10px;
    }
    .cart-form .add h4{
        padding: 24px 0;
    }
    .cart-form .add span{
        display: block;
        width: 100%;
        margin-right: 10px;
        box-sizing: border-box;
        font-size: 16px;
        border: 1px solid black;
        padding: 12px 10px;
    }
}

.section-mallcart-ship{
    padding: 20px 0;
    .cart-ship{
        padding-bottom: 20px;
    }
    .cart-ship .title{
        display: flex;
        padding: 7px 20px;
        background-color: #A8D1EE;
    }
    .cart-ship .title h3{
        text-align: center;
        align-content: center;
    }
    .cart-ship .title h3:nth-child(1){
        border-radius: 30px;
        width: 30px;
        height: 30px;
        border: 2px solid black;
        background-color: white;
        margin-right: 20px;
    }
    .cart-ship-choose{
        display: flex;
        flex-wrap: wrap;
    }
    .ship-method {
        display: flex;
        justify-content: center;
        
        input {
            display: none;
            
        }
        label {
            text-align: center;
            box-sizing: border-box;
            padding: 14px;
            border: 1px solid #000000;
            font-size: 16px;
            margin: 10px 10px;
            width: 100%;
            &:has(:checked) {
                background-color: $color-highlight;
                color: #fff;
                border: none;
            }
        }
    }
}

.section-mallcart-receiver{
    padding: 0;
    .cart-receive{
        padding-bottom: 20px;
    }
    .cart-receive .title{
        display: flex;
        padding: 7px 20px;
        background-color: #A8D1EE;
    }
    .cart-receive .title h3{
        align-content: center;
        display: flex;
        align-items: center;
        justify-content: center;
        input {
            width: 20px;
            height: 20px;
            border-radius: 0;
            margin-left: 20px;
        }
    }
    .cart-receive .title h3:nth-child(1){
        border-radius: 30px;
        width: 30px;
        height: 30px;
        border: 2px solid black;
        background-color: white;
        margin-right: 20px;
    }
    .cart-receiveinfo{
        padding:10px 0 16px 20px;
    }
    .cart-receiveinfo .name h4{
        padding-bottom: 16px;
    }
    .cart-receiveinfo .phone h4{
        padding: 16px 0;
    }
    .cart-receiveinfo .add h4{
        padding: 16px 0;
    }
    input[type="text"] {
        width: 96%;
        padding: 14px 12px;
        border: 1px solid #000000;
        font-size: 16px;
        outline: none;
    }
}

.section-mallcart-pay{
    padding: 0;
    .cart-pay{
        padding-bottom: 20px;
        padding-top: 14px;
    }
    .cart-pay .title{
        display: flex;
        padding: 7px 20px;
        background-color: #A8D1EE;
    }
    .cart-pay .title h3{
        text-align: center;
        align-content: center;
    }
    .cart-pay .title h3:nth-child(1){
        border-radius: 30px;
        width: 30px;
        height: 30px;
        border: 2px solid black;
        background-color: white;
        margin-right: 20px;
    }
    .ship-method {
        display: flex;
        justify-content: center;
        
        input {
            display: none;
            
        }
        label {
            text-align: center;
            box-sizing: border-box;
            padding: 14px;
            border: 1px solid #000000;
            font-size: 16px;
            margin: 10px 5px;
            width: 100%;
            &:has(:checked) {
                background-color: $color-highlight;
                color: #fff;
                border: none;
            }
        }
    }
}

.section-confirm{
    background-color: white;
    padding: 0;
    .container{
        background-color: white;
    }
    .cart-confirm{
        padding: 40px 0 40px 0;
        font-size: 16px;
        text-align: center;
    }
}

.section-confirm{
    .cart-checkout{
        padding-bottom: 40px;
        text-align: center;
    }

}