.section.section-member.body-member {
    background-image: url(../../../../public/img/member/member1.jpg);
    background-size: cover;
}


.member-logo-box span {
    color: $color-white;
    font-size: 2rem;
    display: inline-block;
}

.member-box {
    display: flex;
    margin-top: 6rem;
    position: relative;
    justify-content: center;
    padding: 0 8rem;
}

.member-logo-box {
    width: 25rem;
    position: absolute;
    top: 25%;
    left: 19%;
    text-align: center;

    img {
        padding-left: 2rem;
        width: 50%;
    }

    span {
        padding-bottom: 4rem;
    }
}

.member-txt {
    text-align: center;
    background-color: $color-white;
}

.member-login {
    margin-left: auto;
    margin-right: auto;
    padding: 6rem 5rem;
    text-align: left;

    label {
        display: block;
        font-size: 2rem;
        margin-bottom: 2rem;
        margin-top: 2rem;

        &:nth-of-type(2) {
            margin-top: 5rem;
        }
    }

    input {

        &[type='password'],
        &[type='text'] {
            width: 100%;
            font-size: 16px;
            border: 0rem;
            border-bottom: 0.2rem solid #000;
            box-sizing: border-box;
            background: none;
            outline: none;
            height: 4rem;
        }
    }
}

.forgot {
    display: block;
    line-height: 4;
}

.member-button {
    position: relative;
    display: flex;
    justify-content: center;
}

.member-btn {
    position: absolute;
    left: -75%;
    padding: .2rem 4rem;
}

.member-txt {
    p {
        display: flex;
        margin-top: 2rem;
        margin-bottom: 2rem;

        &::before {
            content: '';
            flex: 4 1 0%;
            display: block;
            border-top: 1px solid black;
            margin-right: 2rem;
            margin-top: 1.5rem;
            margin-left: 6rem;
        }

        &::after {
            content: '';
            flex: 4 1 0%;
            display: block;
            border-top: 1px solid black;
            margin-left: 2rem;
            margin-top: 1.5rem;
            margin-right: 6rem;
        }
    }

    i {
        font-size: 5rem;
    }

    .fa-google-plus {
        color: #e03f33;
        padding-right: 2rem;
    }

    .fa-facebook {
        color: #2d55a8;
        padding-right: 2rem;
    }

    .fa-line {
        color: #06c755;
    }
}

@media screen and (max-width: 768px) {
    .member-logo-box {
        left: 10rem;
    }

    .member-btn {
        padding: 0.2rem 2rem;
    }

    .member-login {
        padding-top: 8rem;
        padding-bottom: 3rem;
    }

    .member-logo-box img {
        width: 50%;
    }

    .member-txt p {
        &::before {
            margin-left: 1rem;
        }

        &::after {
            margin-right: 1rem;
        }
    }
}

@media screen and (max-width: 576px) {
    .member-box-img {
        display: none;
    }

    .member-box {
        padding: 0 0px;
    }

    .member-button {
        justify-content: space-between;
        margin-right: -2rem;
        margin-left: -2rem;
    }

    .member-btn {
        position: unset;
    }

    .member-txt {
        background-color: unset;
        text-align: center;
    }

    .section.section-member.body-member {
        background-image: url(../../../../public/img/member/member4.jpg);
        background-size: cover;
    }

    .member-txt {
        position: relative;
    }

    .member-login {
        padding: 6rem 0;
        margin: 0 -3rem;
    }

    .member-txt p {
        &::before {
            margin-left: -4rem;
        }

        &::after {
            margin-right: -4rem;
        }
    }

    .forget {
        position: absolute;
        top: 60%;
        right: -10%;
        color: #000;
    }
}