.section.section-member {
    background-image: url(/img/member/member1.jpg);
    background-size: cover;
    .member-box {
        display: flex;
        margin-top: 6rem;
        justify-content: center;
        padding: 0 8rem;
    }
    .member-box-img {
        position: relative;
        background-image: url(/img/member/member1.jpg);
        background-position: 15% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        .member-logo-box {
            position: absolute;
            width: 200px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: column;
            align-items: center;
            .img {
                width: 150px;
                margin-bottom: 20px;
            }
            img {
                width: 100%;
                vertical-align: top;
            }
            span {
                color: $color-white;
                font-size: 2rem;
                margin-bottom: 20px;
            }
        }
        @media screen and (max-width: 767px) {
            display: none;
        }
    }
    
    .member-txt {
        text-align: center;
        background-color: $color-white;
    }
    
    .member-login {
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        padding: 0 10%;
        position: relative;
        .errorspan{
            position: relative;
            margin-top: .5rem;
        }
        .errorspan2{
            position: relative;
            margin-top: .5rem;
        }
        .error {
            color: red;
            font-size: 1.5rem;
        }
        .membererror{
            position: absolute;
            left: 0;
        }
        .membererror2{
            position: absolute;
            left: 0;
        }
        label {
            display: block;
            font-size: 2rem;
            margin-bottom: 2rem;
            margin-top: 2rem;

            &:nth-of-type(2) {
                margin-top: 5rem;
            }
        }
    
        input {
    
            &[type='password'],
            &[type='text'] {
                width: 100%;
                font-size: 16px;
                border: 0rem;
                border-bottom: 0.2rem solid #000;
                box-sizing: border-box;
                background: none;
                outline: none;
                height: 4rem;
            }
        }
    }
    
    .forgot {
        display: block;
        line-height: 4;
        margin-bottom: 2rem;
    }
    

    
    .member-txt {
        padding: 10% 0;

        p {
            display: inline;
            position: relative;
            &::before {
                content: '';
                display: block;
                width: 40px;
                height: 1px;
                background-color: #000;
                position: absolute;
                top: 50%;
                left: -60%;
            }
    
            &::after {
                content: '';
                display: block;
                width: 40px;
                height: 1px;
                background-color: #000;
                top: 50%;
                right: -60%;
                position: absolute;
            }
        }
        .third-party {
            margin-top: 2rem;
            display: flex;
            justify-content: center;
            gap: 20px;
            i {
                font-size: 5rem;
            }
            .fa-google {
                color: #e03f33;
            }
            .fa-facebook {
                color: #2d55a8;
            }
            .fa-line {
                color: #06c755;
            }
        }
        .member-button {
            display: flex;
            justify-content: center;
            @media screen and (max-width: 767px) {
                
                gap: 10%;
            }
            .add {
                display: none;
                @media screen and (max-width: 767px) {
                    display: block;
                }
            }
        } 
    }
}
