.section-news-banner {
    // 資訊量少
    height: 45vh;
    background: url(/img/news/news-banner.webp) no-repeat 50% 50% / cover;
    display: flex;
    justify-content: center;
    align-items: center;
    .news-banner_title{
        margin:20px 0 15px 0;
        p{
            font-size: 2rem;
            color:#fff;
        }
        h1{
            font-size: 6rem;
            color:#fff;
            letter-spacing: 1rem;
        }
    }
}
.section-news-content {
    color:#333;
    height: auto;
    background-image: url(/img/news/news-background.webp);
    .recent-news-container{
        color:#333;
        .news-filter button + button{
            margin:3rem 0 3rem 2rem;
            
        }
        .row{
            .news-pagination{
                margin:0 auto;
                ul{
                    display:flex;
                    li{
                        border:1px solid #333;
                        margin: 50px 10px;
                        padding: 5px;
                        &:hover{
                            background-color:$color-subprimary;
                            color:$color-white;
                            border:1px solid $color-subprimary;
                        }
                    }
                
                }
            }
        }
    }    
}
