.section-profile {
    background-image: url(/img/member/member12.png);
    background-size: cover;
    .row{
        padding: 10rem 1rem;
    }

    .container-profile {
        .profile-box {
            padding-top: 2rem;
            background-color: $color-primary;
            text-align: center;

            .avatra {
                margin: 2rem auto;
                position: relative;
                text-align: center;
                width: 15rem;
                height: 15rem;
                border-radius: 50%;
                border: 2px solid #000;

                #theFile {
                    width: 15rem;
                    height: 15rem;
                    border-radius: 50%;
                    opacity: 0;
                    color: transparent;
                    position: relative;

                }
                button{
                    margin-top: 2rem;
                }

                img {
                    top: 0;
                    left: 0;
                    position: absolute;
                    width: 15rem;
                    height: 15rem;
                    border-radius: 50%;
                    object-fit: cover;
                    margin-bottom: 20px;
                    background-color: $color-white;
                }

                p {
                    padding: 1rem;
                    color: $color-white;
                }
                .logouts{
                    display: none;
                    @media screen and (max-width: 575px) {
                        margin-top: 0;
                        display: block;
                        width: 100%;
                    }
                }
            }

            .profile-button {
                text-align: center;
                padding-top: 10rem;
                margin: 0 -1.5rem;

                button {
                    background-color: $color-subprimary;
                    padding: 2rem 0;
                    width: 100%;
                    display: block;

                    &:hover {
                        background-color: $color-highlight;
                    }

                }
            }

        }

        .profile-pets {
            display: none;
        }

        .profile-txt {
            margin: 0 auto;
            text-align: center;
            background-color: $color-white;

            h1 {
                text-align: center;
                padding-top: 9rem;
                padding-bottom: 3rem;
                @media screen and (max-width: 575px) {
                    padding-top: 3rem;
                }
            }                    
            button:first-of-type {
                        margin-top: 2rem;
                        margin-right: 10rem;
                    }

            ul {
                padding-bottom: 2rem;

                li {
                    padding-bottom: 2rem;
                    position: relative;
                    span{
                        position:absolute;
                        color: red;
                        font-size: 1.3rem;
                        bottom: 0;
                        left: 21%;
                    }

                    @media screen and (max-width: 575px) {
                        text-align: left;
                    }
                }

                label {
                    padding-right: 2rem;
                    font-size: 1.6rem;
                    

                }

                input {
                    width: 70%;
                    font-size: 16px;
                    border: 0rem;
                    border-bottom: 0.2rem solid #000;
                    box-sizing: border-box;
                    outline: none;
                    height: 4rem;

                    @media screen and (max-width: 575px) {
                        width: 100%;
                    }
                }
            }
        }
    }

    //表格    
    .registration {
        overflow-x: auto;
        margin: 0 auto;
        background-color:$color-white ;
        
        @media screen and (max-width: 576px) {
            overflow-x: unset;
        }
        
        table {
            margin: 0 auto;
            // overflow:scroll;
            border-collapse: collapse;
            background-color: $color-white;
            font-size: 1.3rem;
            text-align: center;
            width: 776px;
            @media screen and (max-width: 576px) {
                overflow-x: unset;
                border-collapse: unset;
                width: 100%;
            }

            caption{
                font-size: 2rem;
                padding-top: 9rem;
                padding-bottom: 1rem ;
            }

            th {
                background-color: $color-subprimary;
                @media screen and (max-width: 600px) {
                    background-color: $color-white;
                }
            }

            tr {

                border-bottom: 1px solid $color-white;
                border-bottom: 1px solid black;


                th {
                    text-align: center;
                    height: 4rem;
                    vertical-align: middle;
                }

                td {
                    height: 4rem;
                    vertical-align: middle;
                    white-space: wrap;
                    text-align: center;
                    button{
                        padding:0.75rem 2rem;
                    }
                    
                }
            }
        }
        .button {
            text-align: center;
            cursor: pointer;
            display: flex;
            justify-content: center;
            padding: 1rem 0;
            :hover{
                background-color: #bbb;
            }
            a {
            border: 1px solid black;
            padding: 0px 10px;
            margin: 0 10px;
            text-decoration: none;
        }
        }
        
        .order {
            tbody{
                position: relative;

            }
            tr {
                th:nth-child(1),th:nth-child(3)
                {
                    width: 80px;
                }
                td:nth-child(4){
                    padding-left: 4rem;
                    text-align: left;
                    @media screen and (max-width:576px) {
                        text-align: right;
                    }
                }
                td:nth-child(5)
                {
                    text-align: left;
                    padding-left: 2rem;
                    
                    @media screen and (max-width:576px) {
                        text-align: right;
                    }
                }
                th {
                    height: 5rem;
                    @media screen and (max-width:576px) {
                        display: none;
                    }
                }

                td {
                    height: 5rem;
                    button.cancel {
                        background-color: #bbb;
                        cursor: not-allowed;
                    }
                }
            }
            .shoptable{
                background-color: #4ecabf;
                position: absolute;

                
                width: 100%;
                z-index: 3;
                @media screen and (max-width:576px) {
                    border: 1px solid #000;
                    background-color: $color-white;
                    position: relative;
                    top: -70px;
                }
                .shop{
                    caption{
                        padding-top: 2rem;

                    }
                    th{
                        width: auto;
                        background-color: #A0F3EC; 
                    }
                    td{
                        @media screen and (max-width:576px) {
                            padding-right: 1rem;
                        } 
                    }
                }
                button{
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                }
            }
        }

        .apply {
            margin-bottom: 0;
            border-collapse: collapse;

            tr {
                td:nth-child(1),td:nth-child(4),td:nth-child(5)
                {
                    text-align: left;
                    padding-left: 2rem;
                    @media screen and (max-width:576px) {
                        text-align: right;
                    }
                }
                td:nth-child(6){
                    text-align: center;
                }
                td:nth-child(7){
                    text-align: center;
                }

                th {
                    height: 5rem;
                }

                td {
                    height: 5rem;
                }
            }
        }
        .favorite {
            tr {
                th {
                    height: 5rem;
                }
    
                td {
                    height: 5rem;
                }
            }
    
        }
        //破壞表格排列
            @media (max-width: 576px) {
                table, thead, tbody, th, td, tr {
                display: block;
                }
                caption{
                    width:10rem;
                }
                thead tr {
                    display: none;
                }
                tr {
                    margin-bottom: 10px;
                    border-bottom: 2px solid #ddd;
                }
                td {
                    text-align: right;
                    padding-left: 50%;
                    position: relative;
                }
                td::before {
                    content: attr(data-label);
                    position: absolute;
                    left: 10px;
                    width: calc(50% - 20px);
                    text-align: left;
                    font-weight: bold;
                }
            }
        
        
    }
        //修改密碼
    .profile-revise{
        margin: 0 auto;
        padding-top: 4rem;
        text-align: center;
        background-color: $color-white;
        
        
        h1 {
            padding-top: 3rem;
            padding-bottom: 3rem;
        }

        ul {
            padding-bottom: 4rem;

            li {
                padding-bottom: 2rem;
                position: relative;
        

        label {
            padding-right: 2rem;
            font-size: 1.4rem;
        }
        .inputs{
            margin-right: 4.5rem;
        }

        input {
            background-color:transparent;
            width: 30%;
            font-size: 16px;
            border: 0rem;
            border-bottom: 0.2rem solid #000;
            box-sizing: border-box;
            outline: none;
            height: 4rem;

            }
            span{
                color: red;
                font-size: 1.3rem;
                position: absolute;
                bottom: -5%;
                left: 40%;
            }
        }
    }
    button{
        margin-bottom: 2rem;
    }
    }

    @media screen and (max-width: 576px) {
        .container-profile {
            display: block;

            .profile-box {
                padding-bottom: 12rem;
            }

            .profile-button {
                display: none;
            }

            .profile-pets {
                display: block;
                width: 100%;
                text-align: center;
                height: 4rem;
                font-size: 2.5rem;
            }

            .profile-txt {
                
                ul li button:first-of-type {
                    margin-right: 5rem;
                }
                .store{
                    margin-bottom: 2rem;
                }

            }
        }

    }
}