.section-production-picture{
    background-color: #F2F7FB;
    padding: 100px 0 0 0;
    .container{
        padding: 0 5%;
    }
    img {
        width: 100%;
        vertical-align: top;
    }
    .breadcrumb a + a::before {
        content: '/';
    }
    .big-pic{
        width: 100%;
        overflow: hidden;
    }
    .small-pic{
        margin-top: 10px;
        @include img-box(100%)
    }
    .info-group{
        @media screen and (max-width: 767px) {
            margin-top: 20px;
        }
    }
    .info-group .content{
        margin-left: 10px;
        margin-top: 40px;   
    }
    .info-group .line{
        margin-top: 60px;
        text-align: center;
        border: 1px solid black;
    }
    .info-group .amount span{
        display: inline-block;
        padding-top: 60px;
    }
    .info-group .amount span:nth-child(1){
        padding-right: 20px;
    }
    .info-group .amount span:nth-child(2){
        border: 1px solid black;
        padding: 2px 10px;
    }
    .info-group .amount span:nth-child(3){
        border: 1px solid black;
        padding: 2px 40px;
    }
    .info-group .amount span:nth-child(4){
        border: 1px solid black;
        padding: 2px 10px;
    }
    .info-group .price{
        padding-top: 20px;
    }
    .info-group .button{
        padding-top: 80px;
        display: flex;
        justify-content: space-around;
    }
    span {
        font-size: 2rem;
        @media screen and (max-width: 767px) {
            font-size: 1.6rem;
        }
        @media screen and (max-width: 575px) {
            font-size: 1.2rem;
        }
    }
}
.section-introduce{
    background-image: url('../../public/img/productioninfo/sea.png');
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    img {
        width: 100%;
        vertical-align: top;
    }
    h3 {
        padding-top:30px;
        margin-bottom: 30px;
    }
    .container {
        padding: 0 20%;
    }
    .text-group{
        text-align: center;
    }
    .text-group .pic{
        padding-top: 30px;
        margin: auto;
    }
    .text-group .directions{
        border: 1.5px solid rgb(58, 58, 58);
        display: block;
        margin: 0 auto;
        padding:20px;
        .pic{
            width: 80%;
            padding: 10px 0;
        }
    }
    .text-group .disclaimer{
        padding: 10px 20px ;
        background-color: #f0f0f0;
        margin: 40px auto 0 auto;
    }
}