.section-profile {
    background-image: url(../../../../public/img/member/member12.png);
    background-size: cover;
    .row{
        padding: 10rem 5%;
    }

    .container-profile {
        .profile-box {
            padding-top: 2rem;
            background-color: $color-primary;
            text-align: center;

            .avatra {
                margin: 2rem auto;
                position: relative;
                text-align: center;
                width: 15rem;
                height: 15rem;
                border-radius: 50%;
                border: 2px solid #000;

                #theFile {
                    width: 15rem;
                    height: 15rem;
                    border-radius: 50%;
                    opacity: 0;
                    color: transparent;
                    position: relative;

                }
                button{
                    margin-top: 2rem;
                }

                img {
                    top: 0;
                    left: 0;
                    position: absolute;
                    max-width: 15rem;
                    height: 15rem;
                    border-radius: 50%;
                    object-fit: cover;
                    margin-bottom: 20px;
                    background-color: $color-white;
                }

                p {
                    padding: 1rem;
                    color: $color-white;
                }
            }

            .profile-button {
                text-align: center;
                padding-top: 8rem;
                margin: 0 -1.5rem;

                button {
                    background-color: $color-subprimary;
                    padding: 2rem 0;
                    width: 100%;
                    display: block;

                    &:hover {
                        background-color: $color-highlight;
                    }

                }
            }
        }

        .profile-pets {
            display: none;
        }

        .profile-txt {
            text-align: center;
            background-color: $color-white;

            h1 {
                padding-top: 9rem;
                padding-bottom: 3rem;
            }

            ul {
                padding-bottom: 2rem;

                li {
                    padding-bottom: 2rem;

                    button:first-of-type {
                        margin-top: 2rem;
                        margin-right: 10rem;
                    }
                }

                label {
                    padding-right: 2rem;
                    font-size: 1.4rem;
                }

                input {
                    width: 70%;
                    font-size: 16px;
                    border: 0rem;
                    border-bottom: 0.2rem solid #000;
                    box-sizing: border-box;
                    outline: none;
                    height: 4rem;

                }
            }
        }
    }

    //表格    
    .registration {
        overflow-x: auto;
        white-space: nowrap;
        margin: 2rem auto;
        padding: 0;

        table {
            border-collapse: collapse;
            background-color: $color-white;
            font-size: 1.5rem;
            text-align: center;
            table-layout:fixed; 
            width: 150%;
            caption{
                width: 67%;
                font-size: 2rem;
                padding-bottom: 1rem;
            }

            tr:first-child {
                background-color: $color-subprimary;
            }

            tr {

                border-bottom: 1px solid $color-white;
                border-bottom: 1px solid black;


                th {
                    text-align: center;
                    height: 4rem;
                    vertical-align: middle;
                }

                td {
                    height: 4rem;
                    vertical-align: middle;
                    white-space: wrap;
                    
                    
                }
            }
        }
        .button {
            text-align: center;
            cursor: pointer;
            display: flex;
            justify-content: center;
            padding: 1rem 0;
            background-color: $color-white;
            width: 150%;
            :hover{
                background-color: #bbb;
            }
            a {
            border: 1px solid black;
            padding: 0px 10px;
            margin: 0 10px;
            text-decoration: none;
        }
        }

        .order {
            tr {
                th {
                    height: 5rem;
                }

                td {
                    height: 5rem;

                    button.cancel {
                        background-color: #bbb;
                        cursor: not-allowed;
                    }
                }
            }
        }

        .apply {
            margin-bottom: 0;
            border-collapse: collapse;

            tr {
                th {
                    height: 5rem;
                }

                td {
                    height: 5rem;
                }
            }
        }
        .favorite {
            tr {
                th {
                    height: 5rem;
                }
    
                td {
                    height: 5rem;
                }
            }
    
        }

    }
        //修改密碼
    .profile-revise{
        text-align: center;
        background-color: $color-white;
        margin: 10rem auto 0 auto ;
        
        
        h1 {
            padding-top: 3rem;
            padding-bottom: 3rem;
        }

        ul {
            padding-bottom: 4rem;

            li {
                padding-bottom: 2rem;
        
        label:first{
            padding-left: 2.5rem;
        }
        label {
            padding-right: 2rem;
            font-size: 1.4rem;
        }

        input {
            background-color:transparent;
            width: 30%;
            font-size: 16px;
            border: 0rem;
            border-bottom: 0.2rem solid #000;
            box-sizing: border-box;
            outline: none;
            height: 4rem;

            }
        }
    }
    button{
        margin-bottom: 2rem;
    }
    }

    @media screen and (max-width: 576px) {
        .container-profile {
            display: block;

            .profile-box {
                padding-bottom: 4rem;
            }

            .profile-button {
                display: none;
            }

            .profile-pets {
                display: block;
                width: 100%;
                text-align: center;
                height: 4rem;
                font-size: 2.5rem;
            }

            .profile-txt {

                ul li button:first-of-type {
                    margin-right: 5rem;
                }
            }
        }

    }
}