.section-shop-banner {
    width: 100%;
    height: 80vh;
    overflow: hidden;
    background: url(/img/shop/benner.png)no-repeat 50% 50% / cover;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        h1 {
            font-size: 60px;
            color: #fff;
        }
        span {
            font-size: 20px;
            color: #fff;
        }
    }
}

.section-shop-title {
    padding-bottom: 0;
    .container {
        text-align: center;
    }
    .title h3 {
        padding-top: 30px;
    }
    .title h3:nth-child(2) {
        border-bottom: 2px solid #005FA1;
        display: inline-block;
        text-align: center;
    }
    .category ul {
        display: flex;
        padding: 60px 0 50px 0;
        justify-content: center;
        border-right: 2px soild #fff;
    }
    .category ul li {
        background-color: #D9E8F3;
        padding: 2px 63px;
        margin-right: 4px;
        color: #000000;
        cursor: pointer;
    }
    .category ul li.active{
        color: #fff;
        cursor: pointer;
        background-color: #005FA1;
    }
    .category ul li:nth-child(1) {
        background-color: #e19c12;
        color: #fff;
        border-right: 3px solid #000000;
        font-size: 16px;
        cursor: auto;
    }
}

.section-product-list {
    img{
        overflow: hidden;
        width: 88%;
    }
    padding: 0;
    .container {
        text-align: center;
    }
    .row {
        padding: 0px 20px;
    }
    .row .text {
        padding: 10px 0px;
        font-size: 16px;
        line-height: 24px;
    }
    .row .text span {
        display: block;
        font-size: 16px;
        color: black;
    }
    .shop-card {
        position: relative;
        color: black;
        transition: transform 0.3s ease;
        padding-top:16px;
        overflow: hidden;
    }
    .shop-card:hover {
        transform: translateY(-10px); 
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); 
    }
    .cart-wrapper {
        position: relative;
        height: 0; 
        width: 88%;
        margin: 0 auto;
    }
    .text{
        background-color: #fff;
        overflow: hidden;
        z-index: 3;
        position: relative; 
    }
    .cart {
        position: relative; 
        bottom: 50px; 
        left: 0; 
        width: 100%;
        transform: translateY(100%);
        transition: transform 0.3s ease; 
        opacity: 0; 
    }
    .cart.show {
        transform: translateY(0);
        opacity: 1;
    }
    .cart button {
        width: 100%;
        padding: 10px 0;
        // background-color: #005FA1;
        color: #fff;
        opacity: 0.9;
        font-size: 16px;
        margin: 0 auto;
        cursor: pointer;
    }
    .cart span {
        margin: 0 20px;
    }
    .collect{
        position: absolute;
        top: 16px;
        right: 24px;
    }
    .collect a {
        font-size: 24px;
    }
    .hot {
        width: 60px;
        padding: 5px 4px;
        background-color: #005FA1;
        border: 1px solid white;
        color: white;
        text-align: center;
        position: absolute;
        top: 16px;
        left: 16px;
        font-size: 12px;
    }
}

.section-pagination {
    padding-bottom: 60px;
    position: relative;

    .button {
        cursor: pointer;
        display: flex;
        justify-content: center;
        padding-bottom: 60px;
    }
    .button a:hover{
        color: #fff;
        background-color: #005FA1;
    }
    .button a {
        border: 1px solid black;
        padding: 0px 10px;
        margin: 0 10px;
        text-decoration: none;
        color: black;
    }
    .sea-img {
        width: 100%;
        overflow: hidden;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .sea-img img {
        width: 100%;
        vertical-align: top;
    }
}

.section-shoppingcart{
    cursor: pointer;
    .container{
        .carticon {
            z-index: 5;
            position: fixed; 
            bottom: 20px; 
            right: 20px;
            transition: opacity 0.3s ease;
            &.show { 
                display: block;
                opacity: 1;
            }
            .pic{
                position: absolute;
                top: -90px;
                right: 60px;
                width: 30px;
                height: 30px;
            }
            .icon{
                position: absolute;
                top: -105px;
                right: 20px;
                width: 20px;
                height: 20px;
                background-color: #D9E8F3;
                border-radius: 50%;
                padding: 4px;
                span{
                    font-size: 18px;
                    color: black;
                    padding-left: 5px;
                }
            }
            
        }
        .cartbox{
            z-index: 8;
            width: 600px;
            background-color: #005FA1;
            color: white;
            border-radius: 8px;
            padding: 0 10px; 
            position: fixed;
            bottom: 70px; 
            right: 20px;
            transform: translateY(0);
            transition: transform 0.3s ease; 
            &.show { 
                display: block;
                transform: translateY(0);
            }
            .carttitle{
                padding: 8px 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid #fff;
                p{
                    font-size: 20px;
                }
                i{
                    font-size: 20px;
                    cursor: pointer;
                }
            }
            .cartinfo{
                .info{
                    padding: 10px 10px;
                    display: flex;
                    font-size: 16px;
                    align-items: center;
                    justify-content: space-around;
                    button{
                    background-color: unset;
                    color: white;
                    border: 1px solid white;
                    padding: 3px 6px;
                    margin:0 10px;
                    }
                    .price{
                    padding-right: 10px;
                    }
                    .delete{
                        cursor: pointer;
                    }
                }
                
            }
            .carttotal{
                padding: 10px 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-top: 1px solid #fff;
                button{
                    background-color: #D9E8F3;
                    color: rgb(0, 0, 0);
                    border: 1px solid white;
                    margin:0 10px;
                    padding: 8px 80px;
                    margin: 0;
                }
                button:hover{
                    background-color: #e19c12;
                    color: #ffffff;
                }
                span{
                    font-size: 20px;
                }
            }
        }
    }
}


@media screen and (max-width: 992px) {
    .section-shop-title {
        .category ul li {
            background-color: #D9E8F3;
            font-size: 18px;
            color: #000000;
            text-decoration: none;
            padding: 0 46px;
            margin-right: 3px;
        }
    }

    .section-product-list {
        .cart {
            width: 236px;
            padding: 6px 0;
            background-color: #eaeaea;
            font-size: 18px;
            margin: 0 auto;
            position: absolute;
            bottom: 71px;
            left: 0;
            cursor: pointer;
        }
        .hot {
            width: 60px;
            padding: 4px 8px;
            background-color: #e19c12;
            border: 1px solid white;
            color: white;
            text-align: center;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    .section-pagination {
        .turtle-img {
            width: 100%;
            overflow: hidden;
            position: absolute;
            left: 10%;
            bottom: -9%;
        }
    }
}

@media screen and (max-width: 768px) {
    .section-shop-title {
        .category ul li {
            background-color: #D9E8F3;
            font-size: 16px;
            color: #000000;
            text-decoration: none;
            padding: 0 32px;
            margin-right: 3px;
        }
    }

    .section-pagination {
        .turtle-img {
            width: 100%;
            overflow: hidden;
            position: absolute;
            left: 10%;
            bottom: -12%;
        }
    }

    .section-pagination {
        .button {
            cursor: pointer;
            display: flex;
            justify-content: center;
            padding-bottom: 60px;
        }

        .button a {
            border: 1px solid black;
            padding: 2px 10px;
            margin: 0 10px;
        }
    }
}

@media screen and (max-width: 576px) {
    .section-shop-title {
        .category ul li {
            background-color: #D9E8F3;
            font-size: 16px;
            color: #000000;
            text-decoration: none;
            padding: 0 18px;
            margin-right: 3px;
        }
    }

    .section-pagination {
        .turtle-img {
            width: 100%;
            overflow: hidden;
            position: absolute;
            left: 10%;
            bottom: -21%;
        }
    }

    .section-pagination {
        .button {
            cursor: pointer;
            display: flex;
            justify-content: center;
            padding-bottom: 60px;
        }

        .button a {
            border: 1px solid black;
            padding: 4px 10px;
            margin: 0 10px 10px 10px;
        }
    }
}