
//卡片(共用)
.event-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px 0;
  height: 100%;
  background-color: $color-white;
  text-align: left;
  box-shadow: 2px 2px 10px $color-border;
  &:hover {
    background-color: $color-subprimary;
    transition: .5s ease;
    color: $color-white;
    cursor: pointer;
    .text .theme .event-name h3{
      color: $color-white;
    }
    .addnew i,
    h3 {
      color: $color-white;
    }
    .text .Thoughts a {
      color: $color-white ;
    }
    .pic{
      overflow: hidden;
      img{
        transform: scale(1.5) rotate(-5deg);
        transition: .5s ease;
      }
    }
  }
  .text {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    .theme{
      .event-name{

        h3 {
          margin: 20px 0;
          color: $color-subprimary;
          text-align: left;
        }
        span {
          font-size: 1.5rem;
          display: block;
          margin: 10px 0;
          line-height: 1.2;
        }

      }
      .report{
        font-size: 2.5rem;
        color: $color-highlight;
        position: absolute;
        top: 5%;
        right: 0;
        @keyframes shack {
          0%{transform: translateX(0);}
          25%{transform: translateX(-10%);}
          50%{transform: translateX(10%);}
          100%{transform: translateX(0);}
        }
        :hover{
          animation: shack .1s ease 3;
          color: #f00;
        }
      }
    }
    span{
      font-size: 1.75rem;
      display: block;
      margin: 10px 0;
      line-height: 1.2;
      &:last-of-type{
        margin: 0;
        line-height: 2;
      }
    }
    p {
      margin-bottom: 20px;
      &:nth-child(3) {
        margin-bottom: 0;
      }
    }
  }
  .people{
    width: 100%;
    line-height: 2;
    font-size: 1.75rem;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span{
      display: block;
    }
    i{
      display: block;
    }
  }
  .pic {
    width: 100%;
    img {
      width: 100%;
      vertical-align: top;
    }
  }

  .addnew {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;

    span {
      font-size: 1.5rem;
      font-weight: normal;
    }

    i {
      font-size: 2rem;
      color: $color-primary;
    }
  }
}
