//section-detailed
.section-detailed {
    .lightBox-share {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        background-color: #fff;
        box-shadow: 2px 2px 10px $color-border;
        box-sizing: border-box;
        display: flex;
        padding: 20px;
        @include hover-effect($apply-hover: false);
        z-index: 30;

        .close {
            color: #b6b6b6;
            font-size: 2.5rem;
            top: 0;
            right: 0;

            &:hover {
                color: $color-highlight;
                transition: .3s ease;
            }
        }

        .leftBar {
            width: 50%;

            .pic {
                @include fixed-size-image(100%, 90%);
                display: block;
            }

            .report {
                text-align: center;
                color: $color-highlight;
                margin-top: 10px;

                span {
                    font-size: 1.6rem;
                    display: inline-block;

                    &:hover {
                        cursor: pointer;
                        color: #f00;
                        animation: shack .1s ease 3;
                    }
                }
            }
        }

        .text {
            width: 50%;
            margin-left: 20px;

            .event-name {
                h3 {
                    color: $color-subprimary;
                    font-size: 1.6rem;
                }
            }

            span {
                font-size: 1.3rem;
                display: block;
                margin: 10px 0;
                line-height: 1.2;
            }
            p{
                font-size: 1.3rem;
                line-height: 1.5;
            }
        }
    }
}

@keyframes shack {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-10%);
    }

    50% {
        transform: translateX(10%);
    }

    100% {
        transform: translateX(0);
    }
}