//section-detailed
.section-detailed {
    .share-bg{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(41, 41, 41, 0.2117647059);
        backdrop-filter: blur(2px);
        .lightBox-share {
            position: relative;
            width: 50%;
            background-color: #fff;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            box-sizing: border-box;
            display: flex;
            padding: 30px;
            @include hover-effect($apply-hover: false);
            z-index: 30;
            @media screen and (max-width:992px) {
                display: block;
            }
            @media screen and (max-width:768px){
                width: 70%;
            }
            .close {
                color: #b6b6b6;
                font-size: 2.5rem;
                position: absolute;
                top: 10px;
                right: 10px;
                cursor: pointer;
                @media screen and (max-width:992px) {
                    top: 20px;
                    right: 20px;
                }
                &:hover {
                    color: $color-highlight;
                    transition: .3s ease;
                }
            }
    
            .leftBar {
                width: 50%;
                @media screen and (max-width:992px){
                    width: 100%;
                }
    
                .pic {
                    @include fixed-size-image(100%, 200px);
                    display: block;
                    @media screen and (max-width:992px) {
                        margin-top: 30px;
                    }
                }
    
                .report {
                    text-align: center;
                    color: $color-highlight;
                    margin-top: 10px;
                    @media screen and (max-width:992px){
                        position: absolute;
                        right: 30px;
                        bottom: 12px;
                        margin: 0;
                    }
                    span {
                        font-size: 1.4rem;
                        display: inline-block;

                        &:hover {
                            cursor: pointer;
                            color: #f00;
                            animation: shack .1s ease 3;
                        }
                    }
                }
            }
    
            .text {
                width: 50%;
                margin-left: 20px;
                @media screen and (max-width:992px){
                    width: 100%;
                    margin: 0;
                }
    
                .event-name {
                    h3 {
                        color: $color-subprimary;
                        font-size: 1.4rem;
                    }
                }
    
                span {
                    font-size: 1.4rem;
                    display: block;
                    margin: 10px 0;
                    line-height: 1.2;
                }
                p{
                    font-size: 1.4rem;
                    line-height: 1.5;
                }
            }
        }
    }
}

@keyframes shack {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-10%);
    }

    50% {
        transform: translateX(10%);
    }

    100% {
        transform: translateX(0);
    }
}