.news-card {
    color:#333;
    position:relative;
    padding: 10px;
    background-color: #fff;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    .news-card-pic{
        overflow: hidden;//超出部分遮掉
        // 設定同樣圖片比例
        aspect-ratio: 4/3;
        img {
            width: 100%;
            vertical-align: top;
            object-fit: cover;
            //過渡的時間函數,ease定義了過渡效果的速度曲線
            transition: transform 0.3s ease;
            &:hover {
                transform: scale(1.1); // 在hover時將圖片放大到110%
            }
        }
    }
    .news-card-txt{
        .news-card-content {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            box-sizing:border-box;
            margin: 5px 0;
        }
        .filter-name {
            // 定去new-card上
            
            position:absolute;
            top:3%;
            left:3%;
            background-color: $color-subprimary;
            display: block;
            width: 70px;
            display: flex;
            justify-content: center;
            color: #fff;
            padding: 0 10px;
        }
    }
}