//點擊前hover
@mixin hover-effect($apply-hover: true) {
    @if $apply-hover {
        &:hover {
            background-color: $color-subprimary;
            color: $color-white;
            transition: .5s ease;

            .pic {
                overflow: hidden;

                img {
                    transform: scale(1.3);
                    transition: .5s ease;
                }
            }

            .text {
                .theme {
                    
                    .event-name {
                        h3 {
                            color: $color-white;
                        }
                    }
                }


            }

            .more {
                a {
                    color: $color-white ;
                }
            }

            .addnew i,
            h3 {
                color: $color-white;
            }

        }
    }
}